<template>
  <v-container>
    <div class="navbar-header">
      <v-app-bar app color="#3498DB" dark class="item button secundary">
        <v-toolbar-title>Lista de Comercios</v-toolbar-title>
      </v-app-bar>
    </div>
    <v-row justify="center"> </v-row>
    <div>
      <div v-if="listacomercios" class="container">
        <div class="row pt-4">
          <div class="col ms-2">
            <v-simple-table class="mitabla">
              <thead>
                <tr>
                  <th>Id comercio</th>
                  <th>Nombre Comercio</th>
                  <th>Fecha Creacion</th>
                  <th>Nombre Dueño</th>
                  <th>Direccion</th>
                  <th>Id Tipo</th>
                  <th>Id Categoria</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  v-for="comercio of listacomercios"
                  :key="comercio.id_comercio"
                >
                  <td>
                    {{ comercio.id_comercio }}
                  </td>
                  <td>
                    {{ comercio.nombre_comercio }}
                  </td>
                  <td>{{ comercio.fecha_creacion }}</td>
                  <td>{{ comercio.nombre_dueno }}</td>
                  <td>{{ comercio.direccion }}</td>
                  <td>{{ comercio.comercio_tipo }}</td>
                  <td>{{ comercio.catgoria_id }}</td>
                  <v-btn color="blue" small dark fab>
                    <v-icon @click="Add = true">mdi-plus</v-icon>
                  </v-btn>
                  <v-btn @click="EditarComercio()" color="green" small dark fab>
                    <v-icon>mdi-pencil</v-icon>
                  </v-btn>
                  <v-btn
                    color="red"
                    small
                    dark
                    fab
                   
                    @click="DeleteComercio(comercio.id_comercio)"
                    title="Editar Comercio"
                  >
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                  <v-btn @click="$router.push('/Detallecomercio/')"
                   small class="mx-2" fab dark color="teal">
                    <v-icon dark> mdi-format-list-bulleted-square </v-icon>
                  </v-btn>
                </tr>
              </tbody>
            </v-simple-table>
            <v-dialog
              v-model="Add"
              max-width="450"
              background-color="transparent"
            >
              <v-form class="Form" @submit.prevent="AddComercio">
                <h1>Registrar Comercio</h1>
                <v-text-field
                  v-model="comercio.nombre_comercio"
                  input="text"
                  name="nombre"
                  label="Nombre Comercio"
                  :rules="[(v) => !!v || 'Nombre del comercio es requerido']"
                  required
                >
                </v-text-field>
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="date"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="comercio.fecha_creacion"
                      label="Ingresa la fecha de Creacion"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="comercio.fecha_creacion"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false">
                      Cancel
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu.save(fecha_creacion)"
                    >
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
                <v-text-field
                  v-model="comercio.nombre_dueno"
                  type="text"
                  name="nombredueno"
                  label="Nombre Dueño"
                  :rules="[(v) => !!v || 'Nombre de dueño requerido']"
                  required
                >
                </v-text-field>
                <v-text-field
                  v-model="comercio.direccion"
                  type="text"
                  name="direccion"
                  label="Dirrecion"
                  :rules="[(v) => !!v || 'Direccion requerida']"
                  required
                >
                </v-text-field>
                <select
                  v-model="tipoSeleccionado"
                  class="select"
                  :value="(comercio.comercio_tipo = tipoSeleccionado)"
                  v-on:change="tipoActivo"
                >
                  <option disabled value="">Tipo de comercio</option>
                  <option
                    v-for="tipo in listaTipos"
                    :key="tipo.id_tipo"
                    v-bind:value="{ id_tipo: tipo.id_tipo }"
                  >
                    {{ tipo.nombre_tipo }}
                  </option>
                </select>
                <div
                  v-for="categoria in listaCategorias"
                  :key="categoria.id_categoria"
                >
                  <label>{{ categoria.nombre_categoria }}</label>
                  <input
                    type="checkbox"
                    v-model="seleccion"
                    :value="categoria.id_categoria"
                  />
                </div>
                <br />
                <button class="btn btn-primary">Crear Comercio</button>

                <br />
                <br /><br />
              </v-form>
            </v-dialog>
          </div>
        </div>
      </div>
    </div>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    listaTipos: [],
    listaCategorias: [],
    tipoSeleccionado: "",
    seleccion: [],
    comercio_tipoo: "",
    listacomercios: [],
    errors: [],
    fecha_creacion: new Date().toISOString().substr(0, 10),
    menu: false,
    modal: false,
    menu2: false,
    Add: false,
    edit: false,
    comercioToEdit: "",
    comercio: {
      nombre_comercio: "",
      fecha_creacion: "",
      nombre_dueno: "",
      direccion: "",
      comercio_tipo: "",
      catgoria_id: "",
    },
  }),
  created() {
    this.getComercios();
    this.etipos();
    this.tipoActivo();
  },
  methods: {
    async getComercios() {
      await this.axios.get("/api/api/comercio").then((response) => {
        this.listacomercios = response.data.data;
        console.log(response.data.data);
      });
    },
    etipos() {
      this.axios
        .post("/api/api/tipo")
        .then((response) => {
          this.listaTipos = response.data.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    tipoActivo() {
      this.tipoSeleccionado.id_tipo;

      if (this.tipoSeleccionado.id_tipo == "1") {
        this.axios
          .post("/api/categoria/" + this.tipoSeleccionado.id_tipo)
          .then((response) => {
            this.listaCategorias = response.data;
          });
      }
      if (this.tipoSeleccionado.id_tipo == 2) {
        this.axios
          .post("/api/categoria/" + this.tipoSeleccionado.id_tipo)
          .then((response) => {
            this.listaCategorias = response.data;
          });
      }
      if (this.tipoSeleccionado.id_tipo == 3) {
        this.axios
          .post("/api/categoria/" + this.tipoSeleccionado.id_tipo)
          .then((response) => {
            this.listaCategorias = response.data;
          });
      }
    },
    async AddComercio() {
      this.errors = [];
      if (
        !this.nombre_comercio &&
        !this.fecha_creacion &&
        !this.nombre_dueno &&
        this.direccion
      ) {
        this.errors.push("debe llenar el formulario antes de enviar");
      }
      if (!this.nombre_comercio) {
        this.errors.push("el nombre del comercio es requerido");
      }
      if (!this.fecha_creacion) {
        this.errors.push("se requiere la fecha");
      }
      if (!this.nombre_dueno) {
        this.errors.push("se requiere el nombre del dueño");
      }
      if (!this.direccion) {
        this.errors.push("se requiere la direccion");
      }
      if (!this.comercio_tipoo) {
        this.errors.push("debe seleccionar un tipo");
      }
      if (!this.catgoria_id) {
        this.errors.push("debe seleccionar una o mas categorias");
      }

      await this.axios
        .post("/api/comercio", {
          nombre_comercio: this.comercio.nombre_comercio,
          fecha_creacion: this.comercio.fecha_creacion,
          nombre_dueno: this.comercio.nombre_dueno,
          direccion: this.comercio.direccion,
        })
        .then((data) => {
          console.log(data);
          alert("Comercio creado con exito");
        });
    },

    async DeleteComercio(id_comercio) {
      await this.axios
        .delete("/api/api/dcomercio/" + id_comercio)
        .then((data) => {
          this.listacomercios = data;
          this.getComercios();
        });
    },
    async EditarComercio(id_comercio) {
      await this.axios("http://localhost:3000/api/" + id_comercio).then(
        (data) => {
          data.nombre_comercio,
            data.fecha_creacion,
            data.nombre_dueno,
            data.direccion,
            data.comercio_tipo,
            data.catgoria_id,
            (this.comercioToEdit = data.id_comercio);
          this.edit = true;
        }
      );
    },
  },
};
</script>
<style>
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

.mitabla {
  border: 2px solid #3498db;
  border-radius: 3px;
  background-color: #fff;
}
th {
  background-color: #3498db;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
td {
  background-color: #f9f9f9;
}
.th,
td {
  min-width: 120px;
  padding: 10px 20px;
}
th.active .arrow {
  opacity: 3;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
Form {
  width: 300px;
  margin: 0px auto;
  padding: 30px 40px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
</style>