<template>
<div class="navbar-header">
      <v-app-bar app color="#3498DB" dark class="item button secundary">
        <v-toolbar-title>Detalles de Comercios</v-toolbar-title>
      </v-app-bar>
    <div class="list row">
        <div class="col-md-6">
             <ul>
               <li v-for="comercio in listacomercios"  :key="comercio.id_comercio">
                    <v-card class="card"> 
                        <br/>
                   <h6>Nombre de comercio:</h6>{{comercio.nombre_comercio}}
                   
                   <h6>Fecha de Creacion:</h6>
                   {{comercio.fecha_creacion}}
                    
                   <h6>Nombre del dueño:</h6>
                   {{comercio.nombre_dueno}}
                    
                    <h6>Direccion:</h6>
                   {{comercio.direccion}}
                    
                    <h6>Tipo de Comercio:</h6>
                   {{comercio.comercio_tipo}}
                    
                    <h6>Categotia:</h6>
                   {{comercio.catgoria_id}} 
                   
                   </v-card>
                  
                </li>
                
            </ul>
        
        </div>
        <div class="col-md-6">
          </div> 
        </div>
    </div>
</template>
<script>
export default {
  data:() =>({
   listacomercios: [],
   listatipos:[],
   listacategorias:[]
  
       
  
 
    }) ,
    created(){
        this.getComercio()
    },
    methods:{
        getComercio(){
            this.axios.get("/api/api/comercio")
            .then(response =>{
                this.listacomercios=response.data.data
                console.log(response.data.data)
            })
        },
        

 }
  }
</script>
<style>
.card{
    color:black;
    font-family: Helvetica Neue, Arial, sans-serif;
}
h6{
    font-weight: bold;

}


</style>